* {
    margin: 0;
    padding: 0;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}


/* body {
    background-color: coral;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
} */

.box {
    position: fixed;
    width: 500px;
    height: 500px;
    margin-top: calc(50vh - 250px);
    margin-left: calc(25% - 250px);
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 10%, 90% 50%, 50% 90%, 10% 50%);
    transition: 1s
}

.box>ul {
    transform: translate(37.8%, 37.8%) rotate(-45deg);
    /*    border: 1px solid red;*/
    width: 57%;
    height: 57%;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.box>ul>li {
    width: 50%;
    height: 50%;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(36, 28, 28);
    transition: .4s
}

.box>ul>li:nth-of-type(1) {
    margin-right: 50%;
}

.box>ul>li>a {
    color: black;
    
    text-decoration: none;
    transform: rotate(45deg);
    text-transform: capitalize;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 0px 0px 5px grey;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center
}

.box:hover {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
}

.box>ul>li:hover {
    background-color: rgba(255, 255, 255, 0.17)
}


/* .box2 {
    width: 100px;
    height: 100px;
    margin-right: 200px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.floatright {
    float: right;
    margin-left: 900px;
}

.polygon1 {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */


/* 
.imgp {
    width: 300px;
    height: 250px;
    background-position: center;
    background-size: cover;
    float: right;
    margin-left: 100px;
    transition: 1s;
} */

.textalign {
    text-align: center;
}

.colorwhite {
    color: rgb(0, 0, 0);
}